body {
    font-family: "Open Sans", sans-serif
}

h1,
h2,
h3 {
    font-family: "Lobster", cursive;
    color: rgb(21,70,6);
}

h2 {
    color: rgb(21,70,6);
}

header h2 {
    color: #CEC8FF;
}

.site-footer {
    background-image: linear-gradient(rgb(49, 148, 82), white);
    padding: 20px 0px;
}

.jumbotron {
    margin: 0;
    padding: 30px;
    background-image: linear-gradient(to right, rgb(21, 70, 6), rgb(43, 150, 22), #60106B);
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.navbar {
    background-color: #901CAD;
}
.carousel-caption {
    background-color: rgba(0,0,0,0.5);
}
.carousel {
    border: solid #5637DD;
}